# ======================
# DATABASE CONFIG
# ======================
DB_URL=jdbc:postgresql://localhost:TU_PUERTO/TU_DB
DB_USER=TU_USER
DB_PASSWORD=TU_CONTRASEÑA

# ======================
# JWT CONFIG
# ======================
JWT_SECRET=TU_JWTSECRET
JWT_EXPIRATION=TU_JWTEXPIRATION